<div class="row">
        <div class="span9">
                <p class="lead" id="{{ article.article_id }}_title">{{ article.title }}</p>
                {% if article.doi %}<p><a href="{{article.doi}}">{{article.doi}}</a></p>{% endif %}
                <hr/>
        </div>
</div>
<div class="row">
        <div class="span4">
                <div class="row">
                        <div class="span1"><strong>status</strong></div>
                        <div class="span3">
                                {{ article.status }}
                        </div>
                </div>
                <div class="row">
                        <div class="span1"><strong>date</strong></div>
                        <div class="span3">
                                {{ article.published_date }}
                        </div>
                </div>
                <div class="row">
                        <div class="span1"><strong>type</strong></div>
                        <div class="span3">
                                {{ article.defined_type }}
                        </div>
                </div>
                {% if article.total_size %}
                <div class="row">
                        <div class="span1"><strong>size</strong></div>
                        <div class="span3">
                                {{ article.total_size }}
                        </div>
                </div>
                {% endif %}
                {% if article.version %}
                        <div class="row">
                                <div class="span1"><strong>version</strong></div>
                                <div class="span3">
                                        {{ article.version }}
                                </div>
                        </div>
                {% endif %}
                <div class="row">
                        <div class="span1"><strong>files</strong></div>
                        <div class="span3">
                                <ul class="unstyled">
                                {% for f in article.files %}
                                        <li><i class='icon-file'></i> <a target="_new" href='http://figshare.com/account/media/view?dw=1&file={{ f.id }}.pdf'>{{ f.name }}</a></li>
                                {% endfor %}
                                </ul>
                        </div>
                </div>
        </div>
        <div class="span5">
                {% if article.description_nohtml %}
                <blockquote>
                        <p>
                                {{ article.description_nohtml }}
                        </p>
                </blockquote>
        {% endif %}
        </div>
        
</div>
<div class="row">
        <div class="span4">
                {% if article.authors %}
                <div class="row">
                        <div class="span1"><strong>authors</strong></div>
                        <div class="span3">
                                <ul class="unstyled">
                                {% for a in article.authors %}
                                        <li><i class='icon-user'></i> {{ a.full_name }}</li>
                                {% endfor %}
                                </ul>
                        </div>
                </div>
                {% endif %}

        </div>
        <div class="span5">
                {% if article.tags %}
                <div class="row">
                        <div class="span1"><strong>tags</strong></div>
                        <div class="span3">
                                <ul class="unstyled">
                                {% for t in article.tags %}
                                        <li><i class='icon-tag'></i> {{ t.name }}</li>
                                {% endfor %}
                                </ul>
                        </div>
                </div>
                {% endif %}

        </div>
</div>
<div class="row">
        <div class="span4">					
                {% if article.categories %}
                <div class="row">
                        <div class="span1"><strong>categories</strong></div>
                        <div class="span3">
                                <ul class="unstyled">
                                        {% for c in article.categories %}
                                        <li><i class='icon-th-list'></i> {{ c.name }}</li>
                                        {% endfor %}
                                </ul>
                        </div>
                </div>
                {% endif %}
        </div>
        <div class="span5">
                {% if article.links %}
                <div class="row">
                        <div class="span1"><strong>links</strong></div>
                        <div class="span3">
                                <ul class="unstyled">
                                        {% for l in article.links %}
                                                {% if l.link|length > 30 %}
                                                        <li><i class='icon-share-alt'></i> <a href="{{ l.link }}">{{ l.link[:15] }}...{{ l.link[-15:] }}</a></li>
                                                {% else %}
                                                        <li><i class='icon-share-alt'></i> <a href="{{ l.link }}">{{ l.link }}</a></li>
                                                {% endif %}
                                        {% endfor %}
                                </ul>
                        </div>
                </div>
                {% endif %}
        </div>
</div>