<div class="row">
        <div class="span6">


                <div class="span5" id="title">
                        <div class="row">
                                <div class="span5">
                                        <p class="lead" id="{{ article.article_id }}_title">{{ article.title }}</p>
                                        {% if article.doi %}<p><a href="{{article.doi}}">{{article.doi}}</a></p>{% endif %}
                                        <hr/>
                                </div>
                        </div>
                </div>

                <div class="span5" id="authors">
                        {% if article.authors %}
                        <div class="row">
                                <div class="span5 content_block">
                                        <ul class="unstyled list_authors">
                                                {% for a in article.authors %}
                                                <li><i class='icon-user'></i> {{ a.full_name }}</li>
                                                {% endfor %}
                                        </ul>
                                </div>
                        </div>
                        {% endif %}

                </div>



                <div class="span5" id="text-description">
                        {% if article.description_nohtml %}

                        <p><strong>Abstract. </strong>
                                {{ article.description_nohtml }}
                        </p>

                        {% endif %}
                </div>
                



                <div class="span5" id="tags">
                        {% if article.tags %}
                        <div class="row">
                                <div class="span5"><strong>Tags</strong></div>
                                <div class="span5 list_tags">
                                        <ul class="unstyled">
                                                {% for t in article.tags %}
                                                <li><i class='icon-tag'></i> {{ t.name }}</li>
                                                {% endfor %}
                                        </ul>
                                </div>
                        </div>
                        {% endif %}

                </div>
                

                <div class="span5" id="categories">                                     
                        {% if article.categories %}
                        <div class="row">
                                <div class="span5"><strong>Categories</strong></div>
                                <div class="span5 list_categories">
                                        <ul class="unstyled">
                                                {% for c in article.categories %}
                                                <li><i class='icon-th-list'></i> {{ c.name }}</li>
                                                {% endfor %}
                                        </ul>
                                </div>
                        </div>
                        {% endif %}
                </div>

                <div class="span5" id="linkss">
                        {% if article.links %}
                        <div class="row">
                                <div class="span5"><strong>Links</strong></div>
                                <div class="span5 list_links">
                                        <ul class="unstyled">
                                                {% for l in article.links %}
                                                {% if l.link|length > 30 %}
                                                <li><i class='icon-share-alt'></i> <a href="{{ l.link }}">{{ l.link[:15] }}...{{ l.link[-15:] }}</a></li>
                                                {% else %}
                                                <li><i class='icon-share-alt'></i> <a href="{{ l.link }}">{{ l.link }}</a></li>
                                                {% endif %}
                                                {% endfor %}
                                        </ul>
                                </div>
                        </div>
                        {% endif %}
                </div>



</div> 
<div class="span3" id="basic_info">
        <div class="row">
                <div class="span3">
                        <strong>Status: </strong>{{ article.status }}
                </div>
        </div>
        <div class="row">
                <div class="span3">
                       <strong>Date: </strong>{{ article.published_date }}
                </div>
        </div>
        <div class="row">
                <div class="span3">
                        <strong>Type: </strong>{{ article.defined_type }}
                </div>
        </div>
        {% if article.total_size %}
        <div class="row">
                <div class="span3">
                        <strong>Size: </strong>{{ article.total_size }}
                </div>
        </div>
        {% endif %}
        {% if article.version %}
        <div class="row">
                <div class="span3">
                        <strong>Version: </strong>{{ article.version }}
                </div>
        </div>
        {% endif %}
        <div class="row">
                <div class="span3"><strong>Files</strong></div>
                <div class="span3">
                        <ul class="unstyled" id="list_files">
                                {% for f in article.files %}
                                <li><i class='icon-file'></i> <a target="_new" href='{{ "http://figshare.com/download/file/{}".format(f.id) }}'>{{ f.name }}</a></li>
                                {% endfor %}
                        </ul>
                </div>
        </div>
</div>


</div>
