{% extends "base.html" %}


{% block pagetitle %}
	Dashboard
{% endblock %}

{% block logout %}

{% endblock %}

{% block nav %}
 	  {% set active = 'dashboard' %}
 	  {% include 'menu.html' %}
{% endblock %}

{% block content %}
<div id="dashboard">
	<div class="row">
		<div class="span3">
			<div class="alert alert-info">
				<div class="control-group">
					<div class="controls">
						{% block tabs %}{% endblock %}
					</div>
				</div>
			</div>
			<div class="">
				{% block plugins %}{% endblock %}
			</div>
		</div>
		<div class="span9">
			{% block articles %}{% endblock %}
		</div>
	</div>
</div>

{% endblock %}


{% block scripts %}

{% endblock scripts %}