{% extends 'base.html' %}

{% block nav %}
 	  {% set active = 'home' %}
 	  {% include 'menu.html' %}
{% endblock %}


	{% block jumbotron %}
	<div id="get-started" class="clearfix">
		<div class="span12 container">	
			<div id="text-get-started" class="span5">
				<div class="page-header span5">
	  				<h1>Get started!<h1>
					<h3>Link your Figshare.com dataset to a multitude of vocabularies. <strong>linki</strong>tup</span> already links to Wikipedia, DBPedia, DBLP, Crossref/DOIs, ORCID. <br />More to come!</h3>
				</div>
			</div>
			{% block login_form %}
			<div id="get-started-box" class="span5">

				<div class="text-box well span4" >
					
					All you need is a <a style="color: #C74D5A;" href="http://figshare.com">Figshare</a> account and a dataset with a tag or a category assigned. <br /><span style='font-family: "Open Sans"; '><strong>linki</strong>tup</span> does the rest!
					{% if g.user.is_authenticated() and (g.user.oauth_token == None or g.user.oauth_token == "") %}
					<br /><br />
					Or just continue to the <a href="/dashboard">Dashboard</a> to see what you can do with <strong>linki</strong>tup</span> and a small selection of public Figshare datasets.
					{% endif %}
				
					
					<div class='login-button'>
					{% if not g.user.is_authenticated() %}
					<a class='btn btn-primary btn-warning' href="{{ url_for('login') }}"><strong>Login</strong> with OpenID</a><br/>
					{% elif g.user.oauth_token == None or g.user.oauth_token == "" %}
					<a class='btn btn-primary btn-warning' href="{{ url_for('figshare_authorize') }}"><strong>Authorize</strong> with Figshare</a><br/>
					{% else %}
					<a class='btn btn-primary' href='/dashboard'><strong>Linki</strong>tup Dashboard</a>
					{% endif %}
					</div>
				</div>
			</div>
			{% endblock %}
		</div>
	</div>
	{% endblock %}
{% block content %}
{% block about %}
	<div id="about-linkitup" class="clearfix">
		<div class="container">
			<div class="row">
		        <div class="span4">
		          <img src="static/img/carousel-1.png" style="max-width: 100%; max-height: 140px;">
		          
		          <p><strong>Linki</strong>tup taps into your favourite research data repository, and enriches your datasets with links to vocabularies, registries and the Linked Data cloud.</p>
		        </div><!-- /.col-lg-4 -->
		          <div class="span4">
		         <img src="static/img/carousel-2.png" style="max-width: 100%; max-height: 140px;">
		          
		          <p>Publish the metadata of your dataset as Linked Data. <strong>Linki</strong>tup allows you to publish the metadata you generated as Figshare.com dataset as well as directly to the Linked Data Cloud.</p>
		        </div><!-- /.col-lg-4 -->
		          <div class="span4">
		          <img src="static/img/carousel-3.png" style="max-width: 100%; max-height: 140px;">
		          
		          <p><strong>Linki</strong>tup is developed as part of the COMMIT/ project Data2Semantics, which is committed to bringing Linked Science to the masses.</p>
		        </div><!-- /.col-lg-4 -->
      		</div>
		</div>
	</div>
{% endblock %}
{% endblock %}
