<li{% if active == 'home' %} class="active"{% endif %}><a href="/">Home</a></li>
<li{% if active == 'dashboard' %} class="active"{% endif %}><a href="/dashboard">Dashboard</a></li>
{% if g.user.is_authenticated() %}


<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>{{user.nickname}}</strong>  <span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="{{ url_for('logout') }}">Logout</a></li>
	</ul>
</li>

{% else %}
<li><a href="{{ url_for('login') }}">Login</a></li>
{% endif %}
<li class='divider-vertical'></li>
<li><a href="http://www.data2semantics.org" target="_blank"><i class='icon-share-alt'></i>Data2Semantics</a></li>