.project
.pydevproject
*.pyc
*.ipynb
.settings
.*
!.travis.yml
*.db
src/sqlite.db
src/app.db
src/db_repository
src/tmp
src/nanopublications
*.xcodeproj
linkitup/linkitup.xcodeproj/*
*.komodoproject
*.log
*.tmproj
lib/*
include/*
bin/*
src/dist/*
*.egg-info
MANIFEST
src/build/*

