.project
.pydevproject
*.pyc
*.ipynb
.settings
.*
*.db
src/sqlite.db
src/app.db
src/db_repository
src/tmp
src/nanopublications
*.xcodeproj
linkitup/linkitup.xcodeproj/*
*.komodoproject
*.log
*.tmproj
bin/*
lib/*
