{% extends "index.html" %}

{% block content %}
		<div class="row">
			<div class="span12">
				<div class="page-header">
					<img id='logo' src='static/img/linkitup-logo-150dpi.png' style="float:left; height:80px; margin-top: -15px; margin-left: -15px; margin-right: 15px;"/>
		  			<h1 style="padding-top:12px;"><small>Authorization</small></h1>
				</div>			
			</div>
		</div>
		<div class='row'>
			<div class='span6 offset3 alert alert-information'>
				<form method='POST' action='validate' class='form-inline'>
					{% csrf_token %}
					<legend>Please enter your PIN</legend>
					<span class='help-block'>Please <a target="_new" href="{{ authorize_url }}">go to Figshare</a> and allow LinkItUp to access and modify your Figshare articles.</span>
					<span class='help-block'>Figshare will provide you with a PIN number, that you should fill in the form below.</span>
					<span class="badge badge-important">!</span> <input name='pin' id='pin' placeholder='PIN number' class='input-large'>
					<button type="submit" class="btn">Submit</button>
					<span class='help-block'><strong>NB</strong>: Some plugins require you to remain logged in to Figshare!</span>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<hr/>
				<img src="static/img/logo-no-text-150dpi.png" style="height: 80px; margin-top:-10px;">The <span style="font-family: 'Open Sans';"><strong>linki</strong>tup</span> service was developed by the <a href="http://www.data2semantics.org">Data2Semantics</a> project.
			</div>
		</div>
	
{% endblock %}