		{% if urls %}
		{% for u in urls %}
			<label class='checkbox alert alert-warning' id='{{ u.short|slugify }}_label'>
					<input type='checkbox' name='url' value='{{ u.uri }}' id='{{ u.short|slugify }}_checkbox'>
					<a target="_new" href="{{ u.uri }}"><i class="icon-globe"></i></a>&nbsp;<a target="_new" href='{{ u.web }}'>{{ u.show|safe }}</a> 
			</label>
			<script type="text/javascript">
					$("#{{ u.short|slugify }}_checkbox").click(function(){  
							$("#{{ u.short|slugify }}_label").toggleClass('alert-warning');
					        $("#{{ u.short|slugify }}_label").toggleClass('alert-success');
					    });
			</script>
		{% endfor %}
		{% else %}
			<p>No references found...</p>
		{% endif %}
