{% extends "index.html" %}


{% block pagetitle %}
	Dashboard
{% endblock %}

{% block logout %}
<a href='/clear' class='btn btn-mini' style='float: right; font-weight: normal;'>Logout</a>
{% endblock %}

{% block nav %}
	<li><a href="/">Home</a></li>
	<li class="active"><a href="/dashboard">Dashboard</a></li>
	<li class='divider-vertical'></li>
	<li><a href="http://www.data2semantics.org" target="_blank">Data2Semantics</a></li>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="span12">
			<div class="tabbable tabs-left" style="float: right;">
			  <ul class="nav nav-tabs">
			    {% block tabs %}{% endblock %}
			  </ul>
			  <div class="tab-content">
			    {% block dbcontent %}{% endblock %}
			  </div>
			</div>
		</div>
	</div>

{% endblock %}