{% for r in references %}
	<p class='small' id='{{ file_id }}_{{ r.id }}'><i class='icon-list'></i>&nbsp;{{ r.text }}</p>
	<div id='{{ file_id }}_{{ r.id }}_results'></div>
	
		<script>
 			$("#{{ file_id }}_{{ r.id }}").click(function(){  
 				var html = "<div class='progress progress-striped active'>" +
						   "<div class='bar' style='width: 100%;'>Matching reference text #{{ r.id }}</div> " +
						   "</div>";
 				
 				
				$("#{{ file_id }}_{{ r.id }}_results").html(html);
				var rtext = escape("{{ r.text|escapejs }}");
				$.get("/crossref/match/{{ article_id }}/{{ file_id }}", { text: rtext },
						   function(data){
								$("#{{ file_id }}_{{ r.id }}_results").html(data);
						   });
/* 				var referenceText = "{{ r.text }}";
				var d = { text: referenceText };
 				$("#{{ file_id }}_{{ r.id }}_results").html(d);  */
 /* 				$.get("/crossref/match", function(data) {
						$("#{{ file_id }}_{{ r.id }}_results").html(data);
				});  */
			});
		</script>
{% endfor %}