<div class="modal hide fade" id="links_{{ i.article_id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3>Preview and Modify Selected Links</h3>
        </div>
        <div id="links_modalbody_{{ i.article_id }}" class="modal-body">
                  <p>Loading...</p>
        </div>
        <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
</div>

<div id='add_to_figshare_modal_{{ i.article_id }}' tabindex="-1" class="modal hide fade" role="dialog" aria-hidden="true">
        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Add to Figshare</h3>
        </div>
        <div id="add_to_figshare_modalbody_{{ i.article_id }}" class="modal-body">
                <p>This is where you can update your Figshare article with the links you selected through the various <strong>Linki</strong>tup plugins.</p>
                
                <div class="alert alert-success alert-block">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p><strong>What will happen...</strong></p>
                    <p>When you click the 'Add to Figshare' button below, Linkitup will do the following:</p>
                    <ul>
                        <li>The 'links' section of your article will list all the URIs of the links you selected in Linkitup (see below).</li>
                        <li>A nanopublication with enriched metadata for your article will be published on Figshare.</li>
                        <li>A tag of the form "<code>RDF=[some number]</code>" will be added to your article. This tag <strong>links your article to the corresponding nanopublication</strong>.</li>
                        <li>The URI of the nanopublication will be added to the 'links' section of your article.</li>
                    </ul>
                </div>
                <div class="alert alert-warning alert-block">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p><strong>What will not happen...</strong></p>
                    <ul>
                        <li>Unfortunately <strong>Linki</strong>tup can not (yet) publish the nanopublication together with the original article.</li>
                        <li><strong>Linki</strong>tup also can not (yet) reconstruct your links from the nanopublication when you revisit your article in Linkitup.</li>
                    </ul>
                </div>
                <h4>Selected Links <small>(you can still remove them)</small></h4>
                <div id="selected_links_list_{{ i.article_id }}"></div>
                
                <div id="figshare_upload_progress_{{ i.article_id }}" class="progress progress-striped" style="display: none;">
                    <div class="bar" style="width: 100%;">Updating Figshare</div>
                </div>
                <div style="text-align: center;"><a id="do_add_to_figshare_{{ i.article_id }}" class="btn-large btn-primary">Add to Figshare!</a><a id="show_yasgui_{{ i.article_id }}" class='btn-large btn-default'></a></div>
        </div>
        <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>			  
</div>

