{% extends "dashboard.html" %}



{% block scripts %}


<script>
	$.ajaxSetup ({  
	    cache: false,
	    beforeSend: function(xhr){
			xhr.withCredentials = true;
		},
		xhrFields: { withCredentials: true },
		crossDomain: true
	});

	$(document).ready(function() { 
		$.localStorage('ready', false);
		
		// Get the list of plugins, and render the plugin menu.
		$.get("{{ url_for('load_plugins') }}", function(data) {
			$.localStorage ( 'plugins', data.result);
			
			render_plugins(data.result);
		});

		$.get("{{ url_for('load_articles') }}", function(data){
			// Store the list of article_id/title pairs in local storage
			$.localStorage( 'articles', data.articles );
			// Store the dictionaries of all article details in local storage
			$.localStorage( 'details', data.details );
			
			// Render the list of articles
			render_articles(data.articles);
			
			// Render the details of the first article, and set the 'current' flag to that article_id
			if (data.articles.length > 0) {
				var article_id = data.articles[0].id;
				
				$.localStorage( 'current', article_id );
				
				render_article_details(article_id, data.details);
			} else {
				$("#article_details").html("Warning: no published or private articles found in your figshare account!")
			}
			
			$.localStorage('ready', true);
		});
		

		
	});

	function render_articles(articles) {
		$("#articles").select2({ 
			placeholder: "Start typing..." , 
			allowClear: true,
			data: articles 
		}); 
	}
	
	function render_article_details(article_id, details) {
		var payload = JSON.stringify(details[article_id]);
		
		$('#article_details').html('Loading...');
		
		$.ajax({
			type: "POST",
			contentType: "application/json; charset=utf-8",
			url: "{{ url_for('article_details')}}",
			data: payload,
			dataType: "html",
		}).success(function(html) {
			$('#article_details').html(html);
		});
	}

	function render_plugins(plugins){
		$.each(plugins, function(index, value){
			var plugin_link = $('<a id="'+ value.slug +'">'+value.name+'</a>');
			var li = $('<li></li>');
			li.append(plugin_link);
			$('#plugins_header').after(li);
			
			plugin_link.on('click',function(e){
				console.log(value.name + " clicked");
				run_plugin(value.slug, value.name);
			});
		});	
	}
	
	function run_plugin(slug, name){
		var ready = $.localStorage('ready');
		
		if (ready) {
			var article_id = $.localStorage('current');
			
			var loading = "<div class='progress progress-striped active'>" +
				"<div class='bar' style='width: 100%;'>Loading links from " + 
				name 
				+ "...</div> " +
				"</div>";
			
			var url = "/" + slug + "/" + article_id;
			
			$('#plugin_modal_name').html(name);
			$('#plugin_modal').modal('show');
			
			var items = get_items();
			
			
			// THIS IS WHERE I AM...
			
			$('#plugin_modal_body').html(loading).load(url, function(response, status, xhr) {
				if (status == "success") {
					$('#'+slug).toggleClass('active');
				}
			})
		}
		
	}

	function get_details(){
		var article_id = $.localStorage('current');
		
		return $.localStorage('details')[article_id];		
	}
	
	

</script>
{% endblock scripts %}


{% block tabs %}
	<label for="articles"><i class="icon-search"></i> Select an article</label>
	<input type='hidden' id="articles" style="width: 100%; "></input>
{% endblock %}


{% block articles %}
	<div class="details" style="display: block" id="article_pane">
		<div id="article_details">
			<!-- this is where we'll output the HTML generated by calling the /details/<article_id> view -->
		</div>
	</div>
	
	<div class="modal hide fade" id="plugin_modal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3 id="plugin_modal_name"></h3>
	  </div>
	  <div id="plugin_modal_body" class="modal-body"></div>
	  <div class="modal-footer">
	    <button id="plugin_modal_close" class="btn" data-dismiss="modal" aria-hidden="true">Save &amp; Close</button>
	  </div>
	</div>
{% endblock %}

{% block plugins %}
	<div class="plugins">
		<div class="well" style="padding: 8px 0;">
			<ul class="nav nav-list">
				<li class="nav-header" id="plugins_header">Plugins</li>
				<!-- this is where we'll output the list of plugins that can be ran against the currently selected article -->
				<li class="nav-header" id="actions_header">Actions</li>
				<li><a id="show">Preview Selection</a></li>
				<li><a id="rdf">Preview Nanopublication</a></li>
				<li><a id="add_to_figshare">Add to Figshare</a></li>
			</ul>
		</div>
		<div class="pull-right">
			<a id="refresh" style="cursor: pointer;" title="refresh article details"><i class="icon-refresh"></i></a>
			<a id="uncheck_all" style="cursor: pointer;"  title="uncheck all selected links"><i class="icon-remove"></i></a>
			<a href="{{ url_for('clear_session_data') }}" title="clear session data"><i class="icon-fire"></i></a>
		</div>
	</div>
{% endblock %}



