<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="static/css/commit.css" />
	<link rel="stylesheet" href="static/css/bootstrap.css" />
	<link rel="stylesheet" href="static/css/bootstrap-responsive.css" />
	<link rel="stylesheet" href="static/css/select2.css" />
	<link rel="stylesheet" href="static/css/select2-bootstrap.css" />
	<title>{% block title %}LinkItUp!{% endblock %}</title>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
	{% block header %}
	<div class="container" id="header">
		<div class="row">
			<div class="span12">
				<div>
					<a href='/'><img id='logo' src='static/img/linkitup-logo-150dpi.png' style="float:left; height:80px; margin-top: -15px; margin-left: 5px; margin-right: 15px;"/></a>
		  			<h1 style="padding-top:12px;">
		  				<small>{% block pagetitle %}{% endblock %}</small>
		  				{% block logout %}{% endblock %}
		  			</h1>
				</div>			
			</div>
		</div>
	</div>
	
	{% endblock %}
	
	<a href="https://github.com/Data2Semantics/linkitup"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
	
	<!--  Dealing with Flask flash messages -->
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
	
    <div class="container" id="content">
    	{% block navbar %}
			<div class="navbar">
			  <div class="navbar-inner">
			  	{% block loggedin %}
			  		{% include 'loggedin.html' %}
			    {% endblock %}
			    <ul class="nav pull-right">
				    	{% block nav %}
				      	{% endblock %}
			    </ul>
			  </div>
			</div>
		{% endblock %}
    	
        {% block content %}
        
        
        {% endblock %}
    </div> 
    
    <div class="container" id="footer">
        <div class="row">
			<div class="span12">
				<img src="static/img/logo-no-text-150dpi.png" style="height: 80px; margin-top:-5px; float:left;"><div style='margin-top: 15px; float: left;'>The <span style="font-family: 'Open Sans';"><strong>linki</strong>tup</span> service was developed by the <a href="http://www.data2semantics.org">Data2Semantics</a> project.<br/><small>Copyright (c) 2012, 2013 Rinke Hoekstra, VU University Amsterdam</small></div>
			</div>
		</div>
    </div> 
    
	<script src="static/js/bootstrap.js"></script>
	<script src="static/js/select2.js"></script>
	<script src="static/js/vendor/jquery.ui.widget.js"></script> 
	<script src="static/js/jquery.iframe-transport.js"></script> 
	<script src="static/js/jquery.fileupload.js"></script> 
</body>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36060503-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>