		{% if urls %}
		{% for u in urls %}
			<label class='checkbox alert alert-warning' id='{{ u.short }}_label'>
					<input type='checkbox' name='url' web='{{ u.web }}' show='{{ u.show }}'value='{{ u.uri }}' id='{{ u.short }}_checkbox'>
					<a target="_new" href="{{ u.uri }}"><i class="icon-globe"></i></a>&nbsp;<a target="_new" href='{{ u.web }}'>{{ u.show|safe }}</a> 
			</label>
			<script type="text/javascript">
					$("#{{ u.short }}_checkbox").click(function(){  
							$("#{{ u.short }}_label").toggleClass('alert-warning');
					        $("#{{ u.short }}_label").toggleClass('alert-success');
					    });
			</script>
		{% endfor %}
		{% else %}
			<div class='alert alert-error'>No references found...</div>
		{% endif %}
