{% extends "base.html" %}


{% block pagetitle %}
	Dashboard
{% endblock %}

{% block logout %}
<a href='/clear' class='btn btn-mini' style='float: right; font-weight: normal;'>Logout</a>
{% endblock %}

{% block nav %}
 	  {% set active = 'dashboard' %}
 	  {% include 'menu.html' %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="span3">
			<div class="alert alert-info">
				<div class="control-group">
					<div class="controls">
						<label for="articles">Select an article</label>
						<select id="articles" style="width: 100%; ">
							<option></option>
							{% block tabs %}{% endblock %}
						</select>
					</div>
				</div>
			</div>
			<div class="">
				{% block plugins %}{% endblock %}
			</div>
		</div>
		<div class="span9">
			{% block articles %}{% endblock %}
		</div>
	</div>


	<script>
		$(document).ready(function() { $("#articles").select2({ placeholder: "Start typing..." , allowClear: true }); });
	</script>
{% endblock %}