{% extends 'base.html' %}

{% block nav %}
 	  {% set active = 'dropbox' %}
 	  {% include 'menu.html' %}
{% endblock %}


{% block content %}
<script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropins.js" id="dropboxjs" data-app-key="0hxyetc9506mlm2"></script>

<div class="row" id="db-content">
    <div class="offset3 span6">
        <p class="lead">
            <img src="http://i1-news.softpedia-static.com/images/news2/Dropbox-Review-2.jpg" width="50px"> Dropbox
        </p>
        <div id="db-well">
            <div id="db-progress" class="progress progress-striped active">
                <div class="bar" style="width: 100%;">Loading...</div>
            </div>
            <div id="db-files" style="height:400px; overflow: auto;">&nbsp;</div>
        </div>
        
        <script type="text/javascript">
            $(document).ready(function(){
                $('#db-progress').hide();
                getFiles('/Data2Semantics');
 
            
            });
            
            function selectFile(path) {
                console.log(path + ' clicked!');
		$('#db-files').empty();
		
		var button = $('<div></div>');
		button.html('Redo');
		button.addClass('btn btn-warning');
		button.click(function(){
		    selectFile(path);
		});
		$('#db-files').append(button);
		
		$('#db-progress .bar').html('Running analyses on '+path);
                $('#db-progress').show();
                $.get('/dropbox/go', {'path': path}, function(data){
                    $('#db-progress').hide();
                    $('#db-content').html(data);
                });
            }
            
            function getFiles(path) {
                console.log("Getting files for path "+ path);
                $('#db-files').empty();
                $('#db-progress').show();
                $.getJSON('/dropbox_files', { 'path' : path }, function(data){
                    $('#db-progress').hide();
		    var ul = $('<ul class="nav nav-pills nav-stacked"></ul>');
		    $('#db-files').append(ul);
		    
                    $.each(data, function(k, v) {
                        if (k == 'contents') {
                            $.each(v, function() {
                                var li = $('<li></li>');
                                var a = $('<a href="#"></a>')
				
				
                                console.log(this.path + ' found!');
                                
                                if (this.is_dir) {
                                    a.append('<i class="icon-folder-close"/> ');
                                    
                                    var p = this.path;
                                    
                                    a.click(function(){
                                        console.log('adding event handler dir');
                                        getFiles(p);
                                    });
                                } else {
                                    a.append('<i class="icon-file"/> ');
                                    
                                    var p = this.path;
                                    
                                    a.click(function(){
                                        console.log('adding event handler file');
                                        selectFile(p);
                                    });
                                }
                                
				
                                a.append(this.path);
                                li.append(a);
                                
                                ul.append(li);
                            });
                        }
                    });
                });
            }
        </script>
        
    </div>
    
    
</div>

{% endblock %}