{% extends 'base.html' %}

{% block nav %}
 	  {% set active = 'home' %}
 	  {% include 'menu.html' %}
{% endblock %}


{% block content %}
<script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropins.js" id="dropboxjs" data-app-key="0hxyetc9506mlm2"></script>

<div class="row">
    <div class="offset3 span6">
        <p class="lead">
            <img src="http://i1-news.softpedia-static.com/images/news2/Dropbox-Review-2.jpg" width="50px"> Dropbox
        </p>
        <div class="well" id="db-well">
            <div id="db-files" style="height:400px; overflow: auto;">&nbsp;</div>
        </div>
        
        <script type="text/javascript">
            $(document).ready(function(){
                getFiles('/Data2Semantics');
 
            
            });
            
            function selectFile(path) {
                console.log(path + ' clicked!');
                
                $.get('/dropbox/go', {'path': path}, function(data){
                    $('#db-well').html(data);
                });
            }
            
            function getFiles(path) {
                console.log("Getting files for path "+ path);
                $('#db-files').empty();
                $.getJSON('/dropbox_files', { 'path' : path }, function(data){
                    $.each(data, function(k, v) {
                        if (k == 'contents') {
                            $.each(v, function() {
                                var div = $('<div class="listitem"></div>');
                                
                                console.log(this.path + ' found!');
                                
                                if (this.is_dir) {
                                    div.append('<i class="icon-folder-close"/> ');
                                    
                                    var p = this.path;
                                    
                                    div.click(function(){
                                        console.log('adding event handler dir');
                                        getFiles(p);
                                    });
                                } else {
                                    div.append('<i class="icon-file"/> ');
                                    
                                    var p = this.path;
                                    
                                    div.click(function(){
                                        console.log('adding event handler file');
                                        selectFile(p);
                                    });
                                }
                                
                                div.append(this.path);
                                
                                
                                $('#db-files').append(div);
                            });
                        }
                    });
                });
            }
        </script>
        
    </div>
    
    
</div>

{% endblock %}