{% for r in references %}
	<p class='small' id='ref{{ file_id }}_{{ r.id }}'><i class='icon-list'></i>&nbsp;{{ r.text }}</p>
	<div id='ref{{ file_id }}_{{ r.id }}_results'></div>
	
		<script>
 			$("#ref{{ file_id }}_{{ r.id }}").click(function(){  
 				var html = "<div class='progress progress-striped active'>" +
						   "<div class='bar' style='width: 100%;'>Matching reference text #{{ r.id }}</div> " +
						   "</div>";
 				
 				
				$("#ref{{ file_id }}_{{ r.id }}_results").html(html);
				
				var rtext = escape({{ r.text|tojson }});
				
				$.get("crossref/match/{{ article_id }}/{{ file_id }}", 
							{ text: rtext },
						    function(data){
								$("#ref{{ file_id }}_{{ r.id }}_results").html(data);
							});
			});
		</script>
{% endfor %}