{% extends "index.html" %}

{% block content %}
		<div class="page-header">
			<img id='logo' src='static/img/logo-no-text-150dpi.png' style="float:left; width: 90px; margin-top: -15px; margin-left: -5px;"/>
  			<h1>LinkItUp <small>Authorization</small></h1>
		</div>
		<div class='row'>
			<div class='span6 offset3 alert alert-information'>
				<form method='POST' action='/pin' class='form-inline'>
					{% csrf_token %}
					<legend>Please enter your PIN</legend>
					<span class='help-block'>Please <a target="_new" href="{{ authorize_url }}">go to Figshare</a> and allow LinkItUp to access and modify your Figshare articles.</span>
					<span class='help-block'>Figshare will provide you with a PIN number, that you should fill in the form below.</span>
					<span class="badge badge-important">!</span> <input name='pin' id='pin' placeholder='PIN number' class='input-large'>
					<button type="submit" class="btn">Submit</button>
				</form>
			</div>
		</div>
{% endblock %}