@import url(http://fonts.googleapis.com/css?family=Share+Tech|Open+Sans:400,600,700,300);

body {
    font-family: "Open Sans";
	/*background-image: url('../img/bg.png');*/
  color: #555;

}

#header {
	background-color: #f1f1f1;

}

li {
  margin: 5px 0px;
}

#logo img {
  float: left;
  margin-top: 6px;
  width: 165px;
  
}


#content {
  margin: 30px auto;
}


.text-button {
   border: none;
   background-color: transparent;
   padding: 0;
   text-decoration: none; 
   text-align: left;
   box-sizing: inherit;
   outline-style: none;
   outline-width: 0px;
   outline-color: rgb(0, 85, 128);
}


.divider {
height: 1px;
margin: 15px 0;
overflow: hidden;
background-color: #ddd;

}


.navbar {
  margin-bottom: 0px!important
}


.navbar-nav li {
  line-height: 45px;
  margin: 0px;
}


.navbar .divider-vertical {
height: 65px;
margin: 0px 9px 0px 0px;
border-right: 1px solid #ffffff;
border-left: 1px solid #e1e1e1;
}


.loggedinas {
 line-height: 45px;
 font-size:16px!important;
padding-bottom: 0px!important;
margin-right: 20px!important; 
text-align: right;

}


#footer {
  background-color: #f1f1f1;
  padding: 30px 0px;
}


#get-started {
  background-image: url('../img/bg.png');
  padding:60px 50px;

}

.page-header{
padding-bottom: 9px;
margin: 20px 0 30px;
text-align: left;
border-bottom: none;
}

.page-header h1 {
  color: #f1f1f1;
  font-weight: 600;
  font-size: 36px;
}

.page-header h3 {
  color: #aaa;
line-height: 30px!important;
font-size: 20px;
font-weight: 300;

}

#get-started-box .text-box {
  color: #444;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

#get-started-box .login-box {
  color: #444;
  font-weight: 300;
  text-align: left;
}

#get-started-box .well {
  background-color: #eaeaea;
  margin: 30px;
}


#text-get-started {
  margin-left: 50px;
}



.login-button {
  margin-top: 20px;
}

.btn {
line-height: 2.5;
}


#about-linkitup {
  margin: 40px 0px;
}

#about-linkitup .span4{
  text-align: center;
}

#about-linkitup img {
  margin-bottom: 20px;
  margin-top: 20px;
}


#dashboard {
  margin: 50px 0px; 
}


.title-sections-info {
font-size: 16px;
text-transform: capitalize;
border-bottom: 1px solid #cbcbcb;
margin-bottom: 10px;
margin-top: 25px;
}

.title-section-preview {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 12px;
  margin-top: 15px;
}


.btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid #ddd;
border-radius: 4px;
box-shadow: none;

}


#publish_to_figshare {
  color: #c74d5a;
  text-decoration: none;
  text-shadow: none;
}

.control-group {
  padding: 20px;
}


#plugin-container {
  padding: 10px;
}

.nav-pills.nav-stacked {
  margin-bottom: 0px;
}



.nav-pills.nav-stacked > li > a {

  color: #666;
  border-radius: 0px;
  padding: 9px;
  margin-bottom: 0px;
  margin-top: 0px;
  
}

.nav-pills.nav-stacked > li > a:hover {
  background-color: #ccc;
  color: #fafafa;

}

.panel-default>.panel-heading {
color: #555;
font-weight: bold;

}
.panel-heading {
padding: 10px 11px;
border-bottom: 1px solid #ededed;
}





.sidebar {
  background-color: #efefef;
}




.well-modal {
min-height: 20px;
padding: 20px;
margin-bottom: 20px;
background-color: #f5f5f5;
}


.well-modal-selected {
min-height: 20px;
padding: 20px;
margin-bottom: 20px;
background-color: #dff0d8;
color: #3c763d;
}



.radio input[type="radio"], .checkbox input[type="checkbox"] {
  margin-left: 0px!important;
  margin-right: 10px!important;
}



.list_authors {
  text-align: center;
}

.list_authors li{
  display: inline-block;
  margin: 2px 10px;
}


.list_tags li, .list_categories li, .list_links li {
  display: inline-block;
  margin: 2px 10px 2px 0px;
}

#title p{
  text-align: center;
}

#text-description p {
  text-align: justify;
  margin: 15px auto;
}

#basic_info {
  margin-left: 0px!important;
}

#basic_info .row {
  margin-bottom: 12px;
}

#list_files {
  margin-top: -3px;
}


#categories, #links, #tags {
  text-align: center;
  margin-top: 15px;
}


/* RIBBON STYLES *?

 /* The default background color is #c00 */
        .right-bottom .github-fork-ribbon {
            background-color: #6d6d6d;
        }





/* OTHER STYLES */
/*.nav > li > input.text-button {
  display: block;
}

.nav > li > input.text-button:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav-list > li > input.text-button
{
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list > li > input.text-button {
  padding: 3px 15px;
  width: 138px;
  color: rgb(0, 136, 204);
  cursor: auto;
}

.nav-list > .active > input.text-button,
.nav-list > .active > input.text-button:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}
*/

/*li.plugin {
    font-family: "Share Tech";
}*/


