@import url(http://fonts.googleapis.com/css?family=Share+Tech|Open+Sans:400,600,700,300);

body {
    font-family: "Open Sans";
	/*background-image: url('../img/bg.png');*/
}

#header {
	background-color: #f1f1f1;

}

#logo img {
  float: left;
  margin-top: 6px;
  width: 165px;
  
}


.text-button {
   border: none;
   background-color: transparent;
   padding: 0;
   text-decoration: none; 
   text-align: left;
   box-sizing: inherit;
   outline-style: none;
   outline-width: 0px;
   outline-color: rgb(0, 85, 128);
}



.navbar {
  margin-bottom: 0px!important
}


.navbar-nav li {
  line-height: 45px;
}


.navbar .divider-vertical {
height: 65px;
margin: 0px 9px;
border-right: 1px solid #ffffff;
border-left: 1px solid #e1e1e1;
}


.loggedinas {
 line-height: 45px;
 font-size:16px!important;
padding-bottom: 0px!important;
margin-right: 20px!important; 
text-align: right;

}


#footer {
  background-color: #f1f1f1;
  padding: 30px 0px;
}


#get-started {
  background-image: url('../img/bg.png');
  padding:60px 50px;

}

.page-header{
padding-bottom: 9px;
margin: 20px 0 30px;
text-align: left;
border-bottom: none;
}

.page-header h1 {
  color: #f1f1f1;
  font-weight: 600;
  font-size: 36px;
}

.page-header h3 {
  color: #aaa;
line-height: 30px!important;
font-size: 20px;
font-weight: 300;

}

#get-started-box .text-box {
  color: #444;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

#get-started-box .login-box {
  color: #444;
  font-weight: 300;
  text-align: left;
}

#get-started-box .well {
  background-color: #eaeaea;
  margin: 30px;
}


#text-get-started {
  margin-left: 30px;
}



.login-button {
  margin-top: 20px;
}

.btn {
line-height: 2.5;
}


#about-linkitup {
  margin: 40px 0px;
}

#about-linkitup .span4{
  text-align: center;
}

#about-linkitup img {
  margin-bottom: 20px;
  margin-top: 20px;
}












/* OTHER STYLES */

.nav > li > input.text-button {
  display: block;
}

.nav > li > input.text-button:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav-list > li > input.text-button
{
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list > li > input.text-button {
  padding: 3px 15px;
  width: 138px;
  color: rgb(0, 136, 204);
  cursor: auto;
}

.nav-list > .active > input.text-button,
.nav-list > .active > input.text-button:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}


/*li.plugin {
    font-family: "Share Tech";
}*/


